<div class="sim">
    <div *ngIf="node; then displayblock else loadblock"></div>
    <ng-template #loadblock>Loading...</ng-template>
    <ng-template #displayblock>
        <table>
            <tr>
                <th>Multi Model</th>
                <td>{{node.mmConfig.path.split('/')[1]}} #{{node.mmConfig.hash}} <a href="#" (click)="openModel()">(open)</a></td>
            </tr>
            <tr>
                <th>Co-sim</th>
                <td>{{node.simulationConfig.path.split('/')[2]}} #{{node.simulationConfig.hash}} <a href="#" (click)="openSim()">(open)</a></td>
            </tr>
            <tr>
                <th>Simulation time</th>
                <td>{{node.simulationActivity.time}}</td>
            </tr>
            <tr>
                <th>Run by</th>
                <td>{{node.agent.name}} ({{node.agent.email}})</td>
            </tr>
            <tr>
                <th>Engine</th>
                <td>{{node.engine.name}} v{{node.engine.version}}</td>
            </tr>
        </table>

        <table>
            <tr>
                <th>FMU</th>
                <th>Hash</th>
            </tr>
            <tr *ngFor="let fmu of node.fmus">
                <td> {{fmu.path}} </td>
                <td> {{fmu.hash}} </td>
                <td> <a href="#" (click)="listSimulationsWithFmu(fmu.uri)">get simulations</a> </td>
                <td> <a>...</a> </td>
            </tr>
        </table>
    </ng-template>
</div>
