<div>
    <div class="tr-header">
        <p>
            Load simulations
        </p>
        
        <button type="button" (click)="getSimulations()" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>

    <div *ngIf="loading; then loadblock else displayblock"></div>
    <ng-template #loadblock>Loading...</ng-template>
    <ng-template #displayblock>
        <div *ngFor="let nd of nodes">
            <tr-sim [node]="nd"></tr-sim>
        </div>
    </ng-template>


    <div class="tr-post-test">
        <p>Test post</p>
        <button type="button" (click)="testPost()" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>
